@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat');
:root {
  --primary-color: #B30000;
  --secondary-color: #000;
  --mainWhite:#f3f3f3;
  --mainYellow:#ffa400;
}
body {
  font-family: 'Crimson Text', serif !important;
  background: var(--secondary-color) !important;
  color: var(--mainWhite) !important;
}
.text-title {
  font-family: 'Monsterrat', serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-red {
  color: var(--primary-color);
}