@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat');
:root {
  --primary-color: #2a2a72;
  --secondary-color: #f3f3f3;
  --mainDark: #232528;
  --mainYellow:#ffa400;
  --mainBlue: #009ffd;
}
body {
  font-family: 'Monsterrat', serif !important;
  background: var(--secondary-color) !important;
  color: var(--mainDark) !important;
  font-size: 2rem !important;
}
.text-title {
  font-family: 'Monsterrat', serif;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--primary-color);
  font-size: 2.2rem !important;
}
.text-card {
  color: var(--primary-color);
  font-size: 1rem !important;
}